* {
  /* border: 1px solid red; */
  margin: 0px;
  padding: 0px;
}
body {
  border: 1px solid red;
  background-color: green;
  display: block;
  margin: 30px;
}
nav {
  display: block;
  border: 1px solid red;
  background-color: black;
  padding: 16px;
  color: white;
  position: relative;
  z-index: -1;
  padding-left: 16px;
}
nav a:hover{background-color:#ff0078 }
@import url("https://fonts.googleapis.com/css2?family=Rubik+Beastly&display=swap");
nav a {
  font-family: "Rubik Beastly", sans-serif;
  color: white;margin: 5px;margin-left:60px
}

.header {
  display: inline;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 0px 0px 0px 40px;
  margin: 16px 0px;
}
main {
  background-image: url(https://media.timeout.com/images/105988681/1024/576/image.webp);
  background-size:cover;
  background-repeat: no-repeat;
  color:white;display:inline-flexbox;
 height: 500px;

}
.release{padding-left: 500px;padding-top: 200px;font-size: 40px;}
.feel{padding-left: 300px;margin: 20px;font-size: 40px;}
.feel:hover{color: #ff0078;}
.long{margin: 50px;text-align: center;}
.read{display:inline;padding-left: 625px;font-size: 32px;border: #ff0078;}

footer{display:inline-flex;height: 200px;}
.fa-solid{border: 1px solid blue;height: 300px;width: 300px;font-size: 8px;}
.fa-user{border: 1px solid red;height: 300px;width: 300px;font-size: 8px;}
.fa-video{border: 1px solid red;height: 200px;width: 300px;font-size: 8px;}
